*{margin:0;}
body{background-image:url('hangongshangqu/home/background1.jpg');background-size:2500px 1000px;background-repeat:repeat;margin:0;padding:0;color:white;box-sizing:border-box;}

.homeheader{background-image:url('hangongshangqu/home/background1.png'),url('hangongshangqu/home/background10.jpg');background-repeat:no-repeat,no-repeat;background-size:960px 350px,2300px 450px;
            background-position:10px 35px,0 0;margin:0;padding:0;height:420px;}
.homeheader h1{font-size:100px;font-family:Algerian;text-shadow:5px 5px 5px grey;text-align:center;padding-top:130px;padding-bottom:45px;}
.homeheader span{font-size:28px;margin-bottom:15px;}

.signin{width:400px;height:60px;position:absolute;right:100px;top:100px;}
.signin input{width:360px;height:44px;font-size:25px;margin-top:8px;}
::placeholder{font-size:30px;text-indent:10px;}
#mybag{margin-left:80px;}
.signin a{text-decoration:none;}
.signin a:link,a:visited{color:white;}
.signin a:hover,a:active{color:blue;}
.signin .searchbar img{width:35px;height:35px;display:inline;position:absolute;top:58px;right:60px;}

.homemenu{list-style-type:none;cursor:pointer;}
.homemenu li{float:left;margin:40px;}
.homemenu li:first-child{margin-left:18%;}
.homemenu li:last-child{margin-right:18%;}
.homemenu a{display:inline-block;font-size:32px;color:white;text-decoration:none;}

.menulist{display:none;}
.menulist a{font-size:30px;display:block;margin-top:60px;line-height:8px;}
.costume:hover .costumelist{display:block;position:absolute;}
.instrument:hover .instrumentlist{display:block;position:absolute;}
.accessory:hover .accessorylist{display:block;position:absolute;}
.introduction:hover .introductionlist{display:block;position:absolute;}
.homemenu li:hover{background-color:#39517d;}


.section1 .video1{text-align:center;border:2px solid black;}

.sectionbar{border:1px solid #0d1e40;border-radius:25px;background-image:url('hangongshangqu/home/background6.jpg');background-repeat:no-repeat;background-size:1950px 1200px;width:1950px;height:1200px;margin:150px 150px;}
.sectionbar div{padding-top:350px;padding-left:200px;width:70px;font-size:70px;line-height:110px;color:#142340;font-family:Blackadder ITC;text-shadow:2px 3px 4px #45536e;}
.sectionbar:hover{background-image:url('hangongshangqu/home/background7.jpg');}
.sectionbar:hover div{color:white;}


.section2 .images{background-size:670px 730px;background-repeat:no-repeat;width:670px;height:730px;margin:25px 220px; }
.section2 .words{line-height:80px;box-sizing:border-box;font-size:35px;font-family:Century Gothic;text-shadow:7px 7px 9px #435473; width:670px;height:730px;margin:25px 220px;padding-top:270px;}
.section2{display:flex;flex-direction:row;flex-wrap:wrap;}
.section2 .images{border:2px solid black;border-radius:15px;}

.featured{background-image:url('hangongshangqu/home/background4.jpg');background-size:1500px 150px;text-align:center;font-size:50px;font-family:Algerian;
         margin-top:150px;padding:30px;border-top:18px solid black;border-image:url('hangongshangqu/home/background3.jpg') 20% stretch;}

.section3{background-image:url('hangongshangqu/home/background4.jpg');padding-left:8%;padding-right:8%;display:flex;flex-direction:row;flex-wrap:wrap;padding-bottom:100px;}
.section3 figure{width:430px;height:620px;margin:30px 15px;}
.section3 img{width:430px;height:550px;}
.section3 figcaption{font-size:22px;}


footer{background-color:#33312f;margin-top:50px;height:500px;color:white;
      display:flex;flex-direction:row;flex-wrap:wrap;padding-left:300px;padding-top:50px;}
footer div{float:left;width:450px;}
footer h1{font-size:28px;}
footer a{font-size:20px;text-decoration:none;color:white;margin:10px;}
footer a:link,footer a:visited{color:white;}
foot a:hover,footer a:active{color:blue;}
footer input{width:340px;height:38px;font-size:26px;}
input.submit{width:87px;height:44px;font-size:19px;position:relative;top:-4px;}
::placeholder{font-size:25px;}


.icon{width:700px;margin-left:50%;}
.icon img{width:38px;height:33px;margin:15px;}